.profileContainer, .personalInfo, .personalEdit, .personalContacts, .personalPhoto, .personalContacts {
    display: flex;
}
.profileContainer, .personalPhoto, .personalContacts {
    flex-direction: column;
}
.personalPhoto {
    flex-basis: 50%;
}
.personalPhoto img{
    width: 180px;
    border-radius: 50%;
    padding: 10px;
}
.personalContacts {
    justify-content: space-around;
    flex-basis: 50%;
}
.status {
    position: relative;
}
.status input, .editContactForm input {
    height: 30px;
    border-radius: 10px;
}
.status input {
    width: 80%;

}
.editContactForm input {
    width: 300px;
    margin-bottom: 10px;
}
