.pagination, .paginationPages {
    display: flex;
    align-items: center;
}

.pagination {
    justify-content: space-around;
    margin: 5px;
}
.paginationPages {
    margin-left: 10px;
}
.paginationPages button {
    width: 50px;
    height: 20px;
}
.paginationPages div {
    height: 20px;
    width: 20px;
    margin: 3px;
    border-radius: 50%;
    text-align: center;
}
.searchContainer {
    position: relative;
}
.searchContainer input {
    width: 100px;
    height: 20px;
    border-radius: 10px;
}
.searchContainer button {
    width: 60px;
    height: 20px;
    margin-top: 5px;
}
