.usersList {
    display: flex;
    flex-wrap: wrap;
}
.userItem {
    max-width: 213px;
    text-align: center;
    padding: 15px;
    color: #243137;
}
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons button {
    width: 100px;
    height: 30px;
    margin: 3px;
    padding: 2px;
}
.userPhoto {
    border-radius: 50%;
    width: 100px;
}
.selected {
    font-weight: bold;
}