.formAddPost {
    position: relative;
}
.formAddPost textarea {
    resize: none;
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    background-color: #f2f4f1;
    border: 1px solid #50777b;
    border-radius: 10px;
    color: #243137;
}

.item {
    border: 1px solid #243137;
    border-radius: 10px;
    padding: 10px;
    margin-top: 15px;
}
.itemInfo {
    display: flex;
    text-align: center;
    margin-bottom: 5px;
    position: relative;
}
.itemInfo span {
    padding: 10px;
}
.itemInfo img {
    width: 40px;
    height: 40px;
    border-radius: 70px;
}
.itemLikeDislike {
    padding: 10px;
}
.likeDislike {
    width: 20px;
    margin: 5px;
}
