.formAddPost {
    position: relative;
}
.formAddPost button {
    width: 100px;
    height: 30px;
    background-color: #fb8505;
    border-radius: 10px;
    border: 1px solid #fb8505;
    color: #f7fef4;
}
.formAddPost button:hover{
    border-color: #3d3d39;
    background-color: #3d3d39;
    color: #e54a18;
}
.formAddPost textarea {
    resize: none;
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    border: 1px solid #11346c;
    border-radius: 10px;
    background-color: #b2c2df;
    color: #f7fef4;
}
