.messagesContainer {
    display: grid;
    grid-template-rows: 1fr 100px;
    height: 96%;
    background-color: #e6ffe0;
    padding: 10px;

}
.messagesList {
    border: 1px solid rgb(129, 155, 145);
    background-color: #f7fff5;
    margin-bottom: 20px;
}
.messageWrapper {
    background-color: rgb(129, 155, 145);
    margin: 10px;
    padding: 5px;
    border-radius: 15px;
    width: 40%
}
.form textarea {
    resize: none;
    width: 99%;
    height: 50px;
    border: 1px solid rgb(129, 155, 145);
}
.form button {
    background-color: rgb(129, 155, 145);
    border: 1px solid rgb(129, 155, 145);
    border-radius: 10px;
    width: 10%;
    height: 30px;
    margin: 10px;
}
.form button:hover {
    border-color: #3d3d39;
    background-color: #3d3d39;
    color: #e54a18;
}