.dialog a{
    text-decoration: none;
}
.dialog a.active {
    color: rgb(82, 28, 18);
}
.item {
    display: flex;
    flex-direction: row;
}
.item img {
    width: 70px;
    height: 70px;
    border-radius: 70px;
    margin: 5px;
}