.header img {
    width: 14%;
}
.login_block {
    float: right;
}
.footer {
    display: flex;
    justify-content: flex-end;
}
.footer button {
    width: 150px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
}
