.header {
    grid-area: header;
    background-color: rgb(2, 29, 15);
  }
  .header img {
    width: 7vw;
  }
  .login_block {
    float: right;
  }
  .login_block a {
    color: rgb(233, 240, 231);
  }