.nav {
    grid-area: nav;
    background-color: #243137;
    padding: 20px
  }
  .item {
    margin: 10px;
  }
  .item a{
      color: #637078;
      text-decoration: none;
      
  }
  .item a.active {
      color: #e54a18;
  }
  