.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 10px;
}
.img_item {
    width: 100px;
    height: 100px;
    border-radius: 100px;

}
.name {
    color: #f7fef4;
}