.loginInfoWrapper {
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    padding: 5px;
}
.loginNickname {
    color: #637078;
    margin-bottom: 3px;
}
.buttonLoginLogout {
    width: 100px;
    height: 30px;
    background-color: #243137;
    border-radius: 10px;
    border: 1px solid #637078;
    color: #637078;
}
.buttonLoginLogout:hover {
    background-color: #e54a18;
    border-color: #e54a18;
    color: white;
}
.buttonLoginLogout a {
    text-decoration: none;
    color: #637078;
}
.buttonLoginLogout a:hover {
    color: white;
}

