@media (min-width: 320px) {
    .app-wrapper {
        display: grid;
        grid-template-areas: "header" "nav" "container";
        grid-template-rows: 100px 2fr 9fr;
        width: 100%;
    }
}

@media (min-width: 768px) {
    .app-wrapper {
        grid-template-areas: "header header" "nav container";
        display: grid;
        grid-template-rows: 100px 1fr;
        grid-template-columns: 1fr 10fr;
        width: 70%;
    }
}

@media (min-width: 1200px) {
    .app-wrapper {
        grid-template-areas: "header header" "nav container";
        display: grid;
        grid-template-rows: 100px 1fr;
        grid-template-columns: 2fr 10fr;
        width: 70%;
    }
}

.app-wrapper {
    margin: 0px auto;
    display: grid;
    grid-gap: 5px;
}

.container {
    grid-area: container;
    padding: 15px;
    background-color: #11346c;
    /*rgba(211, 212, 218) change on the color*/
}


.test {
    color: rgb(167, 167, 221);
}