@media (min-width: 320px) {
    .app-wrapper {
        width: 100%;
    }
    .main {
        flex-direction: column;
    }
}
@media (min-width: 769px) {
    .app-wrapper {
        width: 100%;
    }
    .main {
        flex-direction: column;
    }
}
@media (min-width: 1025px) {
    .app-wrapper {
        width: 70%;
    }
    .main {
        flex-direction: row;
    }
}

.app-wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: #243137;
}
.main {
    display: flex;
}
/*global styles*/
.main button {
    width: 60px;
    height: 30px;
    background-color: #a05121;
    border: 1px solid #a05121;
    border-radius: 10px;
    color: #f7fef4;
    cursor: pointer;
}
.main button:hover {
    border-color: #243137;
    background-color: #243137;
    color: #637078;
}
.content {
    flex: 3 3 90%;
    padding: 15px;
    background-color: #50777b;
}