.dialogs {
    display: grid;
    grid-template-columns: 2fr 8fr;
}
.dialog a{
    text-decoration: none;
}
.item {
    display: flex;
    flex-direction: row;
}
.item img {
    width: 70px;
    height: 70px;
    border-radius: 70px;
    margin: 5px;
}
.messagesContainer {
    display: grid;
    grid-template-rows: 1fr 100px;
    height: 96%;
    padding: 10px;

}
.messagesList {
    margin-bottom: 20px;
    border-radius: 10px;
}
.messageWrapper {
    margin: 10px;
    padding: 5px;
    border-radius: 15px;
    width: 40%
}
.form textarea {
    resize: none;
    width: 99%;
    height: 50px;
    border-radius: 10px;
}
