.dialogs {
    display: grid;
    grid-template-columns: 2fr 8fr;
}
.messagesList, .form textarea {
    background-color: #f2f4f1;
    border: 1px solid #50777b;
}
.dialog a{
    text-decoration: none;
    color: #243137;
}
.dialog a.active {
    color: #a05121;
}

.item {
    display: flex;
    flex-direction: row;
}
.item img {
    width: 70px;
    height: 70px;
    border-radius: 70px;
    margin: 5px;
}
.messagesContainer {
    display: grid;
    grid-template-rows: 1fr 100px;
    height: 96%;
    padding: 10px;

}
.messagesList {
    margin-bottom: 20px;
}
.messageWrapper {
    background-color: rgb(129, 155, 145);
    margin: 10px;
    padding: 5px;
    border-radius: 15px;
    width: 40%
}
.form textarea {
    resize: none;
    width: 99%;
    height: 50px;
}
